@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0px;
  font-family: "Open Sans", -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #dde1e5;
  background-image: radial-gradient(
      circle at center center,
      hsla(166, 0%, 10%, 1) 0%,
      hsla(181, 0%, 10%, 1) 29%,
      transparent 65%
    ),
    linear-gradient(
      90deg,
      rgb(35, 35, 35) 0%,
      rgb(35, 35, 35) 50%,
      rgb(35, 35, 35) 50%,
      rgb(35, 35, 35) 100%
    );
  background-size: 7px 7px;
}

.svg {
  position: relative;
  background-image: radial-gradient(
      circle at center center,
      hsla(166, 0%, 10%, 1) 0%,
      hsla(181, 0%, 10%, 1) 29%,
      transparent 65%
    ),
    linear-gradient(
      90deg,
      rgb(35, 35, 35) 0%,
      rgb(35, 35, 35) 50%,
      rgb(35, 35, 35) 50%,
      rgb(35, 35, 35) 100%Í
    );
  background-size: 7px 7px;
  background-color: rgb(83, 64, 64);
}

#title {
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 400;
}

#description {
  font-family: "Open Sans";
}
#tooltip {
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
  background-color: #232531;
  pointer-events: none;
}

#legend rect {
  stroke: white;
}
